{% extends 'index.html' %}
{% block content %}
<a href="{% url 'home' %} ">back to home page</a>
<div><p>singlepost</p>
    {% if request.user.username == post.user %}
    <div class="mt-6 p-6 bg-white rounded-xl">
        <p>this is your item!</p>
        <a href="{% url 'delete' post.id%}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold">delete</a>
    </div>
    {% endif %}
{{post.user}} <br>
<img src="{{post.image.url}}" alt="" width="400"><br>
<h1> <strong>video</strong> </h1>
<video width="520" height="340" controls>
    <source src="{{post.video.url}}" type="video/mp4">
{{post.caption}}
{{post.user.username}}
</div>


<div class="w3-container" w3-teal>
<p><strong>comments</strong>
{% for comment in comments %}
<li>{{comment.text}}</li>
{% endfor %}
</div><br>

<div>write a comment:
    {% if request.user.username != post.user.username %}
    <form method='POST'>
        {% csrf_token %}
        {{form}}
        <button type="submit" class="btn btn-primary">write a comment:</button>
    </form>
    </div>
    {% endif %}






{% endblock content %}