
{% extends 'index.html' %}

{% block content %}
<div>

<img src="{{user.profile_image.url}}" alt="" width="400" height="500">


</div>
<a href="{% url 'home' %} ">back to home page</a>
{{profile.user}}
<form method="POST"  enctype="multipart/form-data"> 
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-primary">Upload your profile picture</button>
</form>


<p>my posts</p>
<div class="container">
{% for post in posts  %}
<img src="{{post.image.url}}" alt="" width="400" height="500"><br>
<a href="{% url 'detail' post.id %}">{{post.caption}}</a><br>
<video width="520" height="340" controls>
    <source src="{{post.video.url}}" type="video/mp4">
</div>
</div>
{% endfor %}



{% endblock content %}